<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
        <key>Label</key>
        <string>com.example.mdextractor</string>
        <key>ProgramArguments</key>
        <array>
                <string>/opt/localdrive/Niffler/modules/meta-extraction/service/mdextractor.sh</string>
        </array>
        <key>RunAtLoad</key>
        <true/>
        <key>KeepAlive</key>
        <true/>
        <key>EnvironmentVariables</key>
        <dict>
                <key>MONGO_URI</key>
                <string>USERNAME:PASSWORD@localhost:27017/</string>
        </dict>
        <key>WorkingDirectory</key>
        <string>/opt/localdrive/Niffler/modules/meta-extraction/service/</string>
        <key>StandardOutPath</key>
        <string>/var/log/mdextractor.log</string>
        <key>StandardErrorPath</key>
        <string>/var/log/mdextractor.log</string>
</dict>
</plist>
