[Unit]
Description=Niffler frontend service
After=network.target

[Service]
Type=simple
ExecStart=/opt/Niffler/modules/frontend/service/frontend_service.sh
TimeoutStartSec=360

[Install]
WantedBy=default.target