bidict==0.21.2
click==8.0.1
colorama==0.4.4
Flask==2.0.1
Flask-Login==0.5.0
Flask-SocketIO==4.3.2
Flask-SQLAlchemy==2.5.1
greenlet==1.1.0
itsdangerous==2.0.1
Jinja2==3.0.1
MarkupSafe==2.0.1
numpy==1.21.0
pandas==1.2.4
Pillow==9.0.0
pydicom==2.1.2
pypng==0.0.20
python-dateutil==2.8.1
python-engineio==3.14.2
python-socketio==4.6.1
pytz==2021.1
schedule==1.1.0
six==1.16.0
SQLAlchemy==1.4.18
sqlparse==0.4.2
Werkzeug==2.0.1
