params{
	workflow = 1
	
	DCM4CHEBin = "/path/to/DCM4CHE/bin"
	SrcAet = "SOURCEAET@IP:PORT"
	QueryAet = "QUERYAET:PORT"
	DestAet = "DESTAET"
	NightlyOnly = false
	StartHour = 19
	EndHour = 7
	NifflerID = 1
	MaxNifflerProcesses = 1

	FilePath ="{00100020}/{0020000D}/{0020000E}/{00080018}.dcm"
	CsvFile ="path/to/csvfile"
	NumberOfQueryAttributes = 2
	FirstAttr = "PatientID"
	FirstIndex = 0
	SecondAttr = "AccessionNumber"
	SecondIndex = 1
	ThirdAttr = "StudyDate"
	ThirdIndex =2
	DateFormat = "%Y%m%d"
	SendEmail =true
	YourEmail ="test@test.test"

	OutputDirectory= "path/to/outputDirectory"
	DICOMHome="path/to/dicomfiles"
	depth=4
	SplitIntoChunks= 1
	PrintImages=true
	CommonHeadersOnly=false
	UseProcesses = 0
	FlattenedToLevel= "patient"
	is16Bit=true
	PublicHeadersOnly= true
	SpecificHeadersOnly=false
	Featureset_File_for_png_extraction=""

	Featureset_File_for_suvpar="/path/to/featureset"
	ScannerDetails="path/to/scannerDetails.txt"
	ScannerFilter=false
	IsStatistics=false
	IsFinalCSV=false
	IsAnonymized=false
}
