body,
html {
    height: 100%;
}

.nav-item {
    margin: 8px;
    padding: 12px;
    background: #2c3e50;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

/* .nav-link {
    color: #ffffff;
    font-size: 24px;
} */

.nav-item a {
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
}

.nav-item a:hover {
    color: aqua;
}

.nav-item button {
    color: #ffffff;
}

.item {
    padding: 12px;
    margin: 10px;
}

/* HomePage Styles */

.homeBackground {
    background-image: url("../images/home.png");
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
}

.mainHeading {
    background-color: rgba(52, 152, 219, 0.6);
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.65);
    border-radius: 30px;
    width: 60%;
    padding: 25px;
    margin-top: 50px;
}

.headingText {
    color: #ffffff;
}

.links {
    margin-top: 200px;
}

.links .row {
    width: 40%;
}

.links .buttons {
    background-color: rgba(0, 0, 0, 0.55);
    padding: 20px;
    border-radius: 12px;
}

.links a {
    text-decoration: none;
    color: #ffffff;
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 25px;
}

.links a:hover {
    color: #000000;
}

.links .buttons:hover {
    background-color: rgba(52, 152, 219, 1);
}

/* PNG Extraction Styles */

.backdrop {
    /* position: absolute; */
    background-image: url("../images/img1.png");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.row {
    padding-top: 10px;
}

.text {
    color: white;
    font-size: 18px;
}
